HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

INIT_ADMIN_USERNAME=
INIT_ADMIN_PASSWORD=
INIT_ADMIN_FIRSTNAME=
INIT_ADMIN_LASTNAME=
INIT_ADMIN_EMAIL=

INIT_ADMIN=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
SMTP_REPLY_TO=